@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pearl</h1>
    <p class="lead">RCCG Christchurch App is an application for managing the church resources using various devices and at the convenience of all stakeholders.</p>
    <p><a href="http://rccgchristchurch.org/" class="btn btn-primary btn-lg">About the church &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>HR Management</h2>
        <p>
            This is module that manages the church Human Resources. These resources include the Pastors, workers, members and ancillary staff.
        </p>
        <p><a class="btn btn-default" href="http://rccgchristchurch.org/">Learn More &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Financial Management</h2>
        <p>Management of all church financial activities and reporting. </p>
        <p><a class="btn btn-default" href="http://rccgchristchurch.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Membership</h2>
        <p>This module manages all the processes and information that relate to the members of the church.</p>
        <p><a class="btn btn-default" href="https://christchurch.azurewebsites.net/member/index">Manage Members &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Other Processes</h2>
        <p>This module manages all the processes and information that relate to the members of the church.</p>
        <p><a class="btn btn-default" href="http://rccgchristchurch.org/">Manage Members &raquo;</a></p>
    </div>
</div>