

@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<div>
    <h3>Welcome to Christ Church Membership Platform</h3>
</div>

<p style="color:blue">Your Membership detail has been successfully created</p>


<p> Thank you for visiting this site</p>


<a href="http://www.rccgchristchurch.org">Back to Church site</a>

